# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env.local
eslint_out.json

# System Files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
desktop.ini

# Tooling Cache
.eslintcache
vite.config.js.timestamp-*